<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emploi du temps </title>
</head>
<body>
    <h2>Liste des fichiers uploadés</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nom du fichier</th>
        <th>Date d'upload</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'display' file.id %}">{{ file.file.name }}</a></td>
          <td>{{ file.uploaded_at }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Aucun fichier trouvé.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>