{% extends 'prof/baseprof.html' %}

{% block title %}Enseignants Connexion{% endblock %}

{% block profcontent %}
<style>
    body {
        background-color: #f4f6f9;
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        text-align: center;
        color: #2c3e50;
        margin-top: 20px;
        font-size: 2.5rem;
    }

    label {
        font-size: 1rem;
        color: #34495e;
        margin-bottom: 10px;
        display: inline-block;
    }

    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #bdc3c7;
        font-size: 1rem;
        background-color: #fff;
        color: #34495e;
        transition: border-color 0.3s;
    }

    select:focus {
        border-color: #3498db;
        outline: none;
    }

    button {
        background-color: #34495e;;
        color: white;
        padding: 12px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
    }

    button:hover {
        background-color: #2980b9;
    }

    button:focus {
        outline: none;
    }

    .hidden {
        display: none;
    }
</style>

<h1>Sélection de la classe</h1>

<div class="container">
    <label for="select_filiere">Filière :</label>
    <select id="select_filiere">
        {% for filiere in filieres %}
            <option value="{{ filiere.Id_filiere }}">{{ filiere.nom_filiere }}</option>
        {% endfor %}
    </select>

    <label for="select_niveau">Niveau :</label>
    <select id="select_niveau">
        <option value="">Sélectionner un niveau</option>
        {% for value, display in niveaux %}
            <option value="{{ value }}">{{ display }}</option>
        {% endfor %}
    </select>

    <button id="envoyer">Envoyer</button>
</div>

<h3 class="hidden">var professeurId = "{{ professeurs_id }}"</h3>

<script>
    var professeurId = "{{ professeurs_id }}";
    document.getElementById("envoyer").addEventListener("click", function() {
        var filiere_id = document.getElementById("select_filiere").value;
        var niveau = document.getElementById("select_niveau").value;
        window.location.href = `/enseignant/classe_pour_prof/${filiere_id}/${niveau}/${professeurId}`;
    });
</script>

{% endblock profcontent %}
