<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
</head>
<body>
    <!--<h1>Liste des étudiants</h1>
    <h2>Filière: {{ filiere_id }} - Niveau: {{ niveau }}</h2>
    <ul>
        {% for etudiant in etudiants %}
            <li>{{ etudiant.nom_etudiant }} {{ etudiant.prenom_etudiant }}</li>
        {% endfor %}
    </ul>-->
    <body>
        <h1>Liste des étudiants</h1>
        <h2>Filière: {{ filiere_id }} - Niveau: {{ niveau }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Matricule</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.nom_etudiant }}</td>
                        <td>{{ etudiant.prenom_etudiant }}</td>
                        <td>{{ etudiant.sexe_etudiant }}</td>
                        <td>{{ etudiant.matricule }}</td>
                    </tr>
                {% endfor %}
                <h2><a href="{% url 'creer_note' %}">ajouter des notes</a></h2>
            </tbody>
        </table>
    </body>
</body>
</html>
