<!--<label for="select_filiere">Filière:</label>
<select id="select_filiere">
    {% for filiere in filieres %}
    <option value="{{ filiere.Id_filiere }}">{{ filiere.nom_filiere }}</option>
    {% endfor %}
</select>
<br>
<label for="select_niveau">Niveau:</label>
<select id="select_niveau">
    {% for niveau in niveaux %}
    <option value="{{ niveau }}">{{ niveau }}</option>
    {% endfor %}
</select>
-->
<label for="select_filiere">Filière:</label>
<select id="select_filiere">
    {% for filiere in filieres %}
    <option value="{{ filiere.Id_filiere }}">{{ filiere.nom_filiere }}</option>
    {% endfor %}
</select>
<br>
<label for="select_niveau">Niveau:</label>
<select id="select_niveau">
    {% for niveau in niveaux %}
    <option value="{{ niveau }}">{{ niveau }}</option>
    {% endfor %}
</select>
<br>
<button id="envoyer">Envoyer</button>

<script>
    document.getElementById("envoyer").addEventListener("click", function() {
        var filiere_id = document.getElementById("select_filiere").value;
        var niveau = document.getElementById("select_niveau").value;
        window.location.href = `/classe/${filiere_id}/${niveau}/`;
    });
</script>
