{% extends "Administration/base.html" %}
{% block title %}Créer un étudiant{% endblock %}

{% block styles %}
{{ block.super }}

<style>
    body {
        overflow-y: auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important; /* Centrer horizontalement */
        justify-content: flex-start !important;
        min-height: 100vh !important;
        background: none !important;
        padding-top: 80px;
        margin-left: 0;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
    }

    .custom-form-container form {
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1200px; /* Largeur maximale du formulaire */
        text-align: left;
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        z-index: 2;
        margin: 20px auto; /* Centrer le formulaire horizontalement */
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
        gap: 20px; /* Espacement entre les colonnes */
        overflow: auto;
    }

    form h1 {
        grid-column: span 3; /* Le titre s'étend sur les 3 colonnes */
        margin-bottom: 20px;
        color: #333;
        text-align: center;
    }

    form label {
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
    }

    form input[type="text"],
    form input[type="email"],
    form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
    }

    form input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

    form input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .reinscription-btn {
        margin: 20px 0;
        text-align: center;
        z-index: 2;
        position: relative;
    }

    .btn-success {
        width: 100%;
        padding: 12px 20px;
        background-color:  #0056b3;
        color: #fff;
        border: none;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .btn-success:hover {
        background-color: #0056b3;
    }

    /* Adaptation responsive pour les petits écrans */
    @media (max-width: 768px) {
        body {
            margin-left: 0;
        }

        form {
            max-width: 100%; /* Utiliser toute la largeur pour les petits écrans */
            padding: 20px;
            grid-template-columns: 1fr; /* Une seule colonne sur petits écrans */
        }

        .reinscription-btn {
            width: 100%; /* Centrer le bouton sur mobile */
        }

        .btn-success {
            width: 100%; /* Réduit la largeur du bouton pour mobile */
        }
    }
</style>
{% endblock %}

{% block content %}

    <!-- Ajouter un bouton pour réinscrire un étudiant {{ form.as_p }} -->
    <div class="reinscription-btn">
        <a href="{% url 'reinscription_etudiant' %}" class="btn btn-success">
            <i class="fas fa-user-plus"></i> Réinscrire un étudiant
        </a>
    </div>
    <div class="custom-form-container">

        <form method="post" enctype="multipart/form-data">
            <h1>Créer un nouvel étudiant</h1>
            
            {% csrf_token %}
            
            {% for field in form %}
            {% if field.name != 'photo' and field.name != 'mot_de_passe'  %}
                <p>{{ field.label }}: {{ field }}</p>
            {% endif %}
        {% endfor %}
            <br>
            <input type="submit" value="Créer étudiant">
        </form>
    </div>

{% endblock %}
