{% extends "Administration/base.html" %}
{% block title %}Créer un étudiant{% endblock %}

{% block styles %}
{{ block.super }}


<style>
 /* Assure que le body et le conteneur occupent tout l'espace disponible */
/* Assure que le body et le conteneur occupent tout l'espace disponible */
body {
    overflow: hidden; /* Cache les barres de défilement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: none;
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Assurez-vous que l'arrière-plan est sous le contenu principal */
    pointer-events: none;
    background-color: #ffffff; /* Fond blanc */
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.background .bubble {
    position: absolute;
    background-color: rgba(6, 9, 223, 0.838); /* Couleur de fond semi-transparente */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: bubbleAnimation 15s infinite;
    z-index: 100; /* Assurez-vous que les bulles sont visibles au-dessus de l'arrière-plan */
}

@keyframes bubbleAnimation {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100%, 100%); }
    100% { transform: translate(0, 0); }
}

.background .bubble:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.background .bubble:nth-child(2) {
    top: 30%;
    left: 30%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.background .bubble:nth-child(3) {
    top: 50%;
    left: 60%;
    animation-duration: 14s;
    animation-delay: 4s;
}

.background .bubble:nth-child(4) {
    top: 70%;
    left: 20%;
    animation-duration: 16s;
    animation-delay: 6s;
}

.background .bubble:nth-child(5) {
    top: 80%;
    left: 50%;
    animation-duration: 18s;
    animation-delay: 8s;
}
.background .bubble:nth-child(6) {
    top: 80%;
    right: 70%;
    animation-duration: 20s;
    animation-delay: 10s;
}
.background .bubble:nth-child(7) {
    top: 80%;
    left: 80%;
    animation-duration: 22s;
    animation-delay: 12s;
}

form {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 90vw; /* Largeur maximale du formulaire */
    max-height: 90vh; /* Hauteur maximale du formulaire */
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow: auto; /* Ajoute un défilement si le contenu dépasse */
}

form h1 {
    grid-column: span 2;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
#id_bourse,
#id_photo,
form input[type="text"],
form input[type="password"],
form input[type="bourse"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}

.btn-success {
    width: 50%;
    padding: 10px;
    background-color: #40d67a;
    color: #fff;
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


</style>
{% endblock %}

{% block content %}
<div class="background">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>



<form method="post">
    <h1>Créer un nouvel étudiant</h1>
    <br>
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Créer étudiant">
  </form>

  <script>
    // JavaScript pour cloner le premier formulaire et l'ajouter à la fin du corps du document
    document.getElementById("add_student_button").addEventListener("click", function() {
      var formClone = document.querySelector("form").cloneNode(true);
      document.body.appendChild(formClone);
    });
  </script>

{% endblock %}
