{% extends "Administration/base.html" %}
{% block title %}Créer un étudiant{% endblock %}

{% block styles %}
{{ block.super }}

<style>
    body {
    overflow-y: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; /* Centrer horizontalement */
    justify-content: flex-start !important;
    min-height: 100vh !important;
    background: none !important;
    padding-top: 80px;
    margin-left: 0;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

form {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; /* Largeur maximale du formulaire */
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Disposition flexible en colonnes */
    gap: 20px;
    overflow: auto; /* Ajoute un défilement si nécessaire */
}

form h1 {
    grid-column: span 2; /* Fais en sorte que le titre occupe toute la largeur */
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.reinscription-btn {
    margin: 20px 0;
    text-align: center;
    z-index: 2;
    position: relative;
}

.btn-success {
    width: 50%;
    padding: 10px;
    background-color: #40d67a;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

</style>
{% endblock %}

{% block content %}
    <div class="background">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <!-- Ajouter un bouton pour réinscrire un étudiant -->
    <div class="reinscription-btn">
        <a href="{% url 'reinscription_etudiant' %}" class="btn btn-success">Réinscrire un étudiant</a>
    </div>

    <form method="post" enctype="multipart/form-data">
        <h1>Créer un nouvel étudiant</h1>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Créer étudiant">
    </form>

    <script>
        // JavaScript pour cloner le premier formulaire et l'ajouter à la fin du corps du document
        //document.getElementById("add_student_button").addEventListener("click", function() {
        //document.body.appendChild(formClone);
        //});
    </script>
{% endblock %}
