{% extends "Administration/base.html" %}

{% block content %}
{% if etudiants %}
    <div class="student-list-container">
        <h2>Résultats de la recherche</h2>
        <table class="student-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Lieu de Naissance</th>
                    <th>Nationalité</th>
                    <th>Niveau</th>
                    <th>Année Académique</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.nom_etudiant }}</td>
                        <td>{{ etudiant.prenom_etudiant }}</td>
                        <td>{{ etudiant.email_etudiant }}</td>
                        <td>{{ etudiant.telephone_etudiant }}</td>
                        <td>{{ etudiant.lieu_naiss_etudiant }}</td>
                        <td>{{ etudiant.nationalite_etudiant }}</td>
                        <td>{{ etudiant.niveau_etudiant }}</td>
                        <td>{{ etudiant.annee_academique_etudiant }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">Aucun étudiant trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="student-list-container">
        <h2>Aucun résultat</h2>
    </div>
{% endif %}
{% endblock %}
