{% extends 'Administration/base.html' %}
{% block styles %}
{{ block.super }}

<style>


/* Conteneur principal du tableau */
.student-list-container {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto ;
    -webkit-overflow-scrolling: touch;
    background: var(--light-gray);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style du tableau */
.student-list-container table {
    width: 100%;
    min-width: 900px; /* Évite que les colonnes se compressent */
    border-collapse: collapse;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

/* En-tête du tableau */
.student-list-container th {
    background: var(--blue);
    color: var(--white);
    padding: 12px;
    text-align: left;
    border-bottom: 3px solid var(--dark-gray);
}

/* Contenu du tableau */
.student-list-container td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Effet de survol */
.student-list-container tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
    transition: 0.3s ease-in-out;
}

/* Champs de recherche */
#search-nom, #search-prenom {
    width: 200px;
    border-radius: 30px;
    border: 2px solid var(--blue);
    font-size: 16px;
    padding: 8px 15px;
    outline: none;
    transition: 0.3s ease-in-out;
}

/* Effet focus sur les champs */
#search-nom:focus, #search-prenom:focus {
    border-color: var(--dark-gray);
    background: var(--light-gray);
}

/* Ajustement responsive */
@media screen and (max-width: 768px) {
    #search-nom, #search-prenom {
        width: 100%;
        margin-bottom: 10px;
    }
}

    

    body {
    overflow-y: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    min-height: 100vh !important;
    background: none !important; 
    padding-top: 80px; 
}
  
    .card {
        width: 100%;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .card .numbers {
        font-size: 2em;
        font-weight: 500;
    }

    .card .cardName {
        color: #777;
    }

    .card .iconBx {
        font-size: 3em;
        color: #ffc400;
    }
#money{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    margin-left:auto;

}
#total_solder{
    color: green;
}
#total_caisse{
    color: green;
}
#total_etudiant{
    color: green;
}
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: #ffffff; /* Fond blanc */
    overflow: hidden;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .background .bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: bubbleAnimation 15s infinite;
  }

  @keyframes bubbleAnimation {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100%, 100%); }
    100% { transform: translate(0, 0); }
  }

  .background .bubble:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
  }

  .background .bubble:nth-child(2) {
    top: 30%;
    left: 30%;
    animation-duration: 12s;
    animation-delay: 2s;
  }

  .background .bubble:nth-child(3) {
    top: 50%;
    left: 60%;
    animation-duration: 14s;
    animation-delay: 4s;
  }

  .background .bubble:nth-child(4) {
    top: 70%;
    left: 20%;
    animation-duration: 16s;
    animation-delay: 6s;
  }

  .background .bubble:nth-child(5) {
    top: 80%;
    left: 50%;
    animation-duration: 18s;
    animation-delay: 8s;
  }

  .custom-form-container form {
    
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
    margin: 200px 0px 50px 0px ; /* Marge en haut et en bas */
    margin-left: 400px; /* Ajustez cette valeur pour déplacer le formulaire plus à gauche */
    margin-right: 200px;

    

    
}


  form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .btn-success {
    width: 30%;
    padding: 10px;
    background-color: #007bff;/* #40d67a*/
    color: #fff;
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  h1 {
    text-align: center;

  }
  
  .cardBox{

    left: 150px;
  }

  #ajouter-tranche {
    display: flex;
    align-items: center;
    background-color: #ebf4f6; /* Couleur de fond personnalisée */
    color: #333; /* Texte plus foncé pour un meilleur contraste */
    font-size: 18px; /* Augmenter la taille de la police */
    padding: 15px 30px; /* Espacement interne plus large */
    border: none; /* Enlever la bordure par défaut */
    border-radius: 8px; /* Bords arrondis avec un rayon plus grand */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Effet de transition */
    text-align: center;
    width: auto; /* S'adapte au contenu */
    
}

#ajouter-tranche:hover {
    background-color: #1991cd; /* Couleur au survol */
    transform: scale(1.05); /* Légère agrandissement au survol */
}

#ajouter-tranche:focus {
    outline: none; /* Supprimer le contour au focus */
}

.icone-ajouter {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: transform 0.3s; /* Effet de transition pour l'icône */
}

#ajouter-tranche:hover .icone-ajouter {
    transform: rotate(15deg); /* Rotation légère de l'icône au survol */
}


</style>
{% endblock %}
{% load static %}

{% block content %}

{% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert custom-alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="container">
    {% load static %}
    <!-- Chargement des fichiers CSS et JS nécessaires pour select2 -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
   


    

        <div class="cardBox" id="money">
            <div class="card">
                <div>
                    <div class="numbers" id="total_etudiant">{{ total_etudiants_inscrit }}</div>
                    <div class="cardName">Étudiants Inscrits</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers" id="total_solder">{{ total_etudiants_solde }}</div>
                    <div class="cardName">Étudiants Soldés</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers" id="total_caisse">{{ total_caisse }}</div>
                    <div class="cardName">CAISSE</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="cash-outline"></ion-icon>
                </div>
            </div>
            <br>
        <br>
        
        </div>
        

    

    <div class="container mt-5">
        
        
        
        <!-- Formulaire de Scolarité -->
        <div class="mb-4">
            <div class="custom-form-container">
            
                <form  method="post" class="mt-10" >
                    <h1>Gestion de la Scolarité</h1>
                    <br>
                    <br>
                    
                    
                    {% csrf_token %}
                    <!--{{ scolarite_form.as_p }}

                      Dynamically created input fields for tranches -->
                     <input type="hidden" name="etudiant-id" value="{{ scolarite_form.etudiant.value }}">
                     <div class="form-group">
                        <label for="id_etudiant">Sélectionner un étudiant</label>
                        <select id="id_etudiant" name="etudiant" class="form-control">
                            <option value="">Sélectionnez un etudiant</option>
                            <!-- Les options seront ajoutées par Select2 -->
                        </select>
                    </div>
                    <br>
    

                 

                    <div class="form-group">
                        <label for="tranche_1">Tranche 1</label>
                        <input type="number" id="tranche_1" name="tranche_1" class="form-control" value="{{ scolarite_form.tranche_1.value }}">
                    </div>
            
                    <div class="form-group">
                        <label for="tranche_2">Tranche 2</label>
                        <input type="number" id="tranche_2" name="tranche_2" class="form-control" value="{{ scolarite_form.tranche_2.value }}">
                    </div>
            
                    <div class="form-group">
                        <label for="tranche_3">Tranche 3</label>
                        <input type="number" id="tranche_3" name="tranche_3" class="form-control" value="{{ scolarite_form.tranche_3.value }}">
                    </div>
                    
                    
                    
                    <div id="tranches-container"></div> <!-- Conteneur pour les tranches supplémentaires -->
                    
                   

            
                    
                    <div class="form-groupicone">
                        <button type="button" id="ajouter-tranche" class="btn btn-info">
                            
                            <img src="{% static 'Administration/images/icons8-ajouter-48.png' %}" alt="Ajouter" style="width: 20px; height: 20px; margin-right: 8px;">

                        </button>
                    </div>
                    
                    <br>
            
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </form>

                
            
            <div>
                <script>
                                        // Remplir les valeurs des tranches initiales dans un objet
                        
                </script>
          
                 <!-- Initialisation de Select2 pour le champ d'autocomplétion -->
                 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
                 
<script>
        $(document).ready(function() {
    var $etudiantSelect = $("#id_etudiant");

    if ($etudiantSelect.length) {
        $etudiantSelect.select2({
            ajax: {
                url: "/etudiant-autocomplete/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data) {
                    return { results: data.results };
                },
                cache: true
            },
            placeholder: "Rechercher un étudiant...",
            allowClear: true
        });

        // Écouteur d'événement pour récupérer les tranches lors de la sélection d'un étudiant
        
        $etudiantSelect.on("change", function() {
            var matricule = $(this).val();  // Récupère le matricule sélectionné
            console.log("Matricule sélectionné :", matricule); // Debugging

            if (matricule) {
                $.ajax({
                    url: "/get-scolarite/",  // URL de get_scolarite2
                    data: { etudiant_id: matricule },
                    dataType: "json",
                    success: function(data) {
                        console.log("Données récupérées :", data); // Afficher les données dans la console
                        trancheValues = {
                        tranche_1: data.tranche_1 || "",
                        tranche_2: data.tranche_2 || "",
                        tranche_3: data.tranche_3 || "",
                        tranche_4: data.tranche_4 || "",
                        tranche_5: data.tranche_5 || "",
                        tranche_6: data.tranche_6 || "",
                        tranche_7: data.tranche_7 || "",
                        tranche_8: data.tranche_8 || "",
                        tranche_9: data.tranche_9 || "",
                        tranche_10: data.tranche_10 || ""
                    };

                        
                        let trancheCount = 0; // Compteur de tranches supérieures à 0
                        // Mise à jour des valeurs de trancheValues avec les données récupérées
                        

                        


                        if (data.tranche_1 !== undefined) { 
                            
                            if (data.tranche_1 > 0) {
                                $("#tranche_1").val(data.tranche_1);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_2 > 0) {
                                $("#tranche_2").val(data.tranche_2);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_3 > 0) {
                                $("#tranche_3").val(data.tranche_3);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_4 > 0) {
                                $("#tranche_4").val(data.tranche_4);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_5 > 0) {
                                $("#tranche_5").val(data.tranche_5);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_6 > 0) {
                                $("#tranche_6").val(data.tranche_6);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_7 > 0) {
                                $("#tranche_7").val(data.tranche_7);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_8 > 0) {
                                $("#tranche_8").val(data.tranche_8);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_9 > 0) {
                                $("#tranche_9").val(data.tranche_9);
                                trancheCount++;  // Incrémenter trancheCount
                            }

                            if (data.tranche_10 > 0) {
                                $("#tranche_10").val(data.tranche_10);
                                trancheCount++;  // Incrémenter trancheCount
                            }


                            // Construire l'alerte
                            let message = "";

                            // Ajouter uniquement les tranches supérieures à 0 dans l'alerte
                            if (data.tranche_1 > 0) message += "Tranche 1: " + data.tranche_1 + "\n";
                            if (data.tranche_2 > 0) message += "Tranche 2: " + data.tranche_2 + "\n";
                            if (data.tranche_3 > 0) message += "Tranche 3: " + data.tranche_3 + "\n";
                            if (data.tranche_4 > 0) message += "Tranche 4: " + data.tranche_4 + "\n";
                            if (data.tranche_5 > 0) message += "Tranche 5: " + data.tranche_5 + "\n";
                            if (data.tranche_6 > 0) message += "Tranche 6: " + data.tranche_6 + "\n";
                            if (data.tranche_7 > 0) message += "Tranche 7: " + data.tranche_7 + "\n";
                            if (data.tranche_8 > 0) message += "Tranche 8: " + data.tranche_8 + "\n";
                            if (data.tranche_9 > 0) message += "Tranche 9: " + data.tranche_9 + "\n";
                            if (data.tranche_10 > 0) message += "Tranche 10: " + data.tranche_10 + "\n";


                            // Ajouter le total à l'alerte
                            message += "Total: " + data.total;
                            // Calculer combien de fois le bouton doit être cliqué
                            
                            let clicksRequired = trancheCount - 3;
                             // Cliquer automatiquement le bouton n - 3 fois
                            for (let i = 0; i < clicksRequired; i++) {
                                document.getElementById("ajouter-tranche").click(); // Cliquer sur le bouton
                            }
                            // Afficher l'alerte
                            alert(message);   
                        }
                    },
                    error: function(xhr) {
                        console.log("Erreur AJAX :", xhr.responseText); // Debugging
                        alert("Erreur AJAX: " + xhr.responseText);
                    }
                });
            }
        });
    }
                        var trancheValues = {
                            tranche_1: "{{ scolarite_form.tranche_1.value }}",
                            tranche_2: "{{ scolarite_form.tranche_2.value }}",
                            tranche_3: "{{ scolarite_form.tranche_3.value }}",
                            tranche_4: "{{ scolarite_form.tranche_4.value }}",
                            tranche_5: "{{ scolarite_form.tranche_5.value }}",
                            tranche_6: "{{ scolarite_form.tranche_6.value }}",
                            tranche_7: "{{ scolarite_form.tranche_7.value }}",
                            tranche_8: "{{ scolarite_form.tranche_8.value }}",
                            tranche_9: "{{ scolarite_form.tranche_9.value }}",
                            tranche_10: "{{ scolarite_form.tranche_10.value }}"
                            

                        };
                                                
                        // Compteur de tranches
                        var trancheCount = 3; // Commencer à 3 car les tranches 1, 2, 3 existent déjà
                        // Incrémenter le compteur de tranches
                        trancheCount++;

                    document.getElementById("ajouter-tranche").addEventListener("click", function() {
                        var lastTrancheIndex = document.querySelectorAll("[id^='tranche_']").length + 1;
                   
                          // Récupérer la valeur de la tranche correspondante ou une valeur vide
                     var trancheValue = trancheValues[`tranche_${lastTrancheIndex}`] || '0'; // valeur par défaut vide si pas de donnée

                    
                    var newTranche = document.createElement('div');
                    newTranche.classList.add('form-group');
                    
                    newTranche.innerHTML = `
                        <label for="tranche_${lastTrancheIndex}">Tranche ${lastTrancheIndex}</label>
                        <input type="number" id="tranche_${lastTrancheIndex}" name="tranche_${lastTrancheIndex}" class="form-control" step="0.01" value="${trancheValue}">
                    `;
                    
                    document.getElementById("tranches-container").appendChild(newTranche);
                    // Affiche les valeurs dans la console pour vérifier
});

});

    </script>
        
                
        
        
    </div>
        
    <!-- Afficher les étudiants filtrés -->
    <!-- Afficher les étudiants filtrés -->
    <div class="student-list-container">
        
        <h2>Liste des étudiants</h2>
        
        <table class="student-table">
            <thead>
                <tr>
                    <th>MATRICULE</th>
                    <th>Nom <input type="text" id="search-nom" placeholder="Rechercher Nom"></th>
                    <th>Prénom <input type="text" id="search-prenom" placeholder="Rechercher Prénom"></th>
                    <th>
                        Filière
                        <select id="filter-filiere">
                            <option value="">Toutes</option>
                            {% for filiere in filieres %}
                            <option value="{{ filiere.Id_filiere }}">{{ filiere.nom_filiere }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>
                        Niveau
                        <select id="filter-niveau">
                            <option value="">Tous</option>
                            <option value="LICENCE1">LICENCE1</option>
                            <option value="LICENCE2">LICENCE2</option>
                            <option value="LICENCE3">LICENCE3</option>
                            <option value="MASTER1">MASTER1</option>
                            <option value="MASTER2">MASTER2</option>
                            <option value="DOCTORAT">DOCTORAT</option>
                        </select>
                    </th>
                    <th>
                        Année Académique
                        <select id="filter-anne_academique">
                            <option value="">Tous</option>
                            <option value="2022/2023">2022/2023</option>
                            <option value="2023/2024">2023/2024</option>
                            <option value="2024/2025">2024/2025</option>
                            <option value="2026/2027">2026/2027</option>
                            <option value="2028/2029">2028/2029</option>
                            <option value="2030/2031">2030/2031</option>
                        </select>
                    </th>
                    
                    <th>Montant Total Versé</th>
                    <th>Scolarite</th>
                    <th>Montant Restant</th>
                    <th>
                        Bourse
                        <select id="filter-bourse">
                            <option value="">Toutes</option>
                            <option value="non_boursier">non_boursier</option>
                            <option value="boursier_etat">boursier_etat</option>
                            <option value="	boursier_particulier_50">boursier_particulier_50</option>
                            <option value="boursier_particulier_75">boursier_particulier_75</option>
                        </select>
                    <th>Soldé</th>
                </tr>
            </thead>
            <tbody id="student-table-body">
                {% for scolarite in scolarites %}
                <tr data-filiere="{{ scolarite.etudiant.filiere.Id_filiere }}" 
                    data-niveau="{{ scolarite.etudiant.niveau_etudiant }}" 
                    data-bourse="{{ scolarite.etudiant.bourse }}" 
                    data-anne_academique="{{ scolarite.etudiant.annee_academique_etudiant }}">
                    <td>{{ scolarite.etudiant.matricule }}</td>
                    <td>{{ scolarite.etudiant.nom_etudiant }}</td>
                    <td>{{ scolarite.etudiant.prenom_etudiant }}</td>
                    <td>{{ scolarite.etudiant.filiere.nom_filiere }}</td>
                    <td>{{ scolarite.etudiant.niveau_etudiant }}</td>
                    <td>{{ scolarite.etudiant.annee_academique_etudiant }}</td>
                    <td>{{ scolarite.montant_total_verse }}</td>
                    <td>{{ scolarite.total }}</td>
                    <td>{{ scolarite.Montant_restant }}</td>
                    <td>{{ scolarite.etudiant.bourse }}</td>
                    <td>
                        {% if scolarite.Montant_restant == 0 %}
                            <i class="fas fa-check-circle" style="color: green;"></i> <!-- V vert -->
                            {% else %}
                            <i class="fas fa-times-circle" style="color: red;"></i> <!-- Croix rouge -->
                            {% endif %}
                    </td>
                
                </tr>
                {% endfor %}

            </tbody>        
        </table>
    </div>
    </div>
    
</div>

<!-- Ajouter jQuery pour la gestion des événements -->

<script>


document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('search-etudiant');

        searchInput.addEventListener('change', function(event) {
            const etudiantId = event.target.value; // Récupère l'ID de l'étudiant sélectionné

            // Envoie une requête AJAX pour obtenir les informations de l'étudiant
            fetch(`/obtenir_informations_etudiant?etudiant_id=${etudiantId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors de la récupération des informations');
                    }
                    return response.json();
                })
                .then(data => {
                    // Remplissez les champs avec les valeurs retournées
                    document.querySelector('[name="tranche_1"]').value = data.tranche_1 || '';
                    document.querySelector('[name="tranche_2"]').value = data.tranche_2 || '';
                    document.querySelector('[name="tranche_3"]').value = data.tranche_3 || '';
                })
                .catch(error => console.error(error));
        });
    });
     document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('search-etudiant');

        searchInput.addEventListener('change', function(event) {
            console.log('Étudiant sélectionné:', event.target.value);
            // Logique supplémentaire ici
        });
    });
    $(document).ready(function() {
        function filterTable() {
            var filiere = $('#filter-filiere').val();
            var niveau = $('#filter-niveau').val();
            var bourse = $('#filter-bourse').val();
            var anne_academique = $('#filter-anne_academique').val();
            var searchNom = $('#search-nom').val().toLowerCase();
            var searchPrenom = $('#search-prenom').val().toLowerCase();
            var hasResults = false; // Track if any results are shown
    
            $('#student-table-body tr').each(function() {
                var show = true;
    
                if (filiere && $(this).data('filiere') != filiere) {
                    show = false;
                }
                if (niveau && $(this).data('niveau') != niveau) {
                    show = false;
                }
                if (bourse && $(this).data('bourse') != bourse) {
                    show = false;
                }
                if (anne_academique && $(this).data('anne_academique') != anne_academique) {
                    show = false;
                }
    
                var nom = $(this).children('td').eq(1).text().toLowerCase();
                var prenom = $(this).children('td').eq(2).text().toLowerCase();
                
                if (searchNom && !nom.includes(searchNom)) {
                    show = false;
                }
                if (searchPrenom && !prenom.includes(searchPrenom)) {
                    show = false;
                }
    
                if (show) {
                    $(this).show();
                    hasResults = true; // Mark that there is at least one result
                } else {
                    $(this).hide();
                }
            });
    
            if (!hasResults) {
                $('#student-table-body').append('<tr id="no-results"><td colspan="13">Aucun résultat trouvé</td></tr>');
            } else {
                $('#no-results').remove();
            }
        }
    
        $('#filter-filiere, #filter-niveau, #filter-bourse, #filter-anne_academique, #search-nom, #search-prenom').on('input', function() {
            filterTable();
        });
    
        filterTable(); // Initial call to filter the table when the page loads
    });
    

    $(document).ready(function() {
    // Activer l'autocomplétion sur le champ de recherche
    $("#search-etudiant").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{% url 'recherche_etudiants_pour_solarite' %}",  // URL pour récupérer les données des étudiants
                dataType: "json",
                data: {
                    term: request.term  // Terme que l'utilisateur tape
                },
                success: function(data) {
                    // Retourner les résultats sous forme de tableau avec label (nom et prénom) et value (ID de l'étudiant)
                    response($.map(data, function(item) {
                        return {
                            label: item.nom + " " + item.prenom,  // Affichage du nom et prénom de l'étudiant
                            value: item.id  // Valeur utilisée dans le champ (ID de l'étudiant)
                        };
                    }));
                }
            });
        },
        minLength: 2,  // L'autocomplétion commence après 2 caractères
        select: function(event, ui) {
            // Remplir le champ avec le nom sélectionné (label) et stocker l'ID dans un champ caché
            $("#search-etudiant").val(ui.item.label);  // Mettre à jour le champ de recherche avec le nom complet
            $("input[name='etudiant-id']").val(ui.item.value);  // Stocker l'ID dans un champ caché si nécessaire
            return false;  // Empêcher l'auto-remplissage du champ
        },
        autoFocus: true,  // Assurer que le premier résultat est mis en surbrillance
        delay: 300,  // Délai avant l'activation de l'autocomplétion (300 ms)
        minLength: 2  // La recherche démarre après que l'utilisateur ait tapé 2 caractères
    });
});

    
    $(document).ready(function() {
        // Appel AJAX pour l'autocomplétion
        $("#search-nom").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'recherche_etudiants_pour_solarite' %}", // La vue Django qui renvoie la liste d'étudiants
                    dataType: "json",
                    data: {
                        term: request.term  // Le terme de recherche
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.nom + " " + item.prenom,  // Afficher le nom et prénom
                                value: item.id  // Stocker l'ID de l'étudiant
                            };
                        }));
                    }
                });
            },
            minLength: 2,  // Commence la recherche après avoir tapé 2 caractères
            select: function(event, ui) {
                // Remplir le champ avec le nom sélectionné
                $("#search-etudiant").val(ui.item.label);
                // Vous pouvez également stocker l'ID pour l'envoyer au formulaire si besoin
                $("input[name='etudiant-id']").val(ui.item.value);
                return false;
            }
        });
    });




    document.getElementById('search-etudiant').addEventListener('change', function() {
        var etudiantId = this.value;
        fetch(`/get_scolarite/${etudiantId}/`)  // Remplacez par votre URL appropriée
            .then(response => response.json())
            .then(data => {
                // Mettez à jour les champs de tranche avec les valeurs récupérées
                document.querySelector('[name="tranche_1"]').value = data.tranche_1;
                document.querySelector('[name="tranche_2"]').value = data.tranche_2;
                document.querySelector('[name="tranche_3"]').value = data.tranche_3;
            });
    });

   
     // Lorsqu'un étudiant est sélectionné, effectuer une requête AJAX pour obtenir ses données de scolarité
     $('#id_etudiant').change(function() {
        var etudiant_id = $(this).val();  // Récupérer l'ID de l'étudiant sélectionné
        if (etudiant_id) {
            $.ajax({
                
                url: '{% url "get_scolarite" 0 %}'.replace('0', etudiant_id),
                type: 'GET',
                success: function(data) {
                    // Préremplir les champs des tranches avec les données récupérées
                    $('#id_tranche_1').val(data.tranche_1);
                    $('#id_tranche_2').val(data.tranche_2);
                    $('#id_tranche_3').val(data.tranche_3);
                },
                error: function() {
                    alert("Erreur lors de la récupération des informations de scolarité.");
                }
            });
        }
    });


</script>

{% endblock content %}
 