@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --white: #fff;
    --light: #f3f4ee;
    --fuscha: hsl(334, 94%, 57%);
    --desaturate-fuscha: hsla(334, 94%, 57%, 0.15);
    --desaturate-fuscha-2: hsla(334, 94%, 57%, 0.1);
    --cyan: hsl(184, 46%, 57%);
    --desaturate-cyan: hsla(184, 46%, 57%, 0.25);
    --desaturate-cyan-2: hsla(184, 46%, 57%, 0.15);
    --light-blue: #bbeef1;
    --pinkless: #fff3e0;
    --yellow: #f1b813;

    --text-color-primary: #314657;
    --text-color-secondary: #58626e;
    --text-color-third: #9db3be;

    --box-shadow-card: 8px 8px 32px var(--desaturate-fuscha);
    --box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);
    --box-sidebar: 2px 4px 16px var(--desaturate-cyan-2);

    --padding-card: 28px;
    --border-radius-rounded: 50%;
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-card: var(--padding-card);
}


.dark-mode {
    --white: #393e46;
    --light: #222831;
    --desaturate-fuscha:hsla(334, 8%,67%,0.15);

    --text-color-primary: #eee;
    --text-color-secondary: #eee;

    --box-shadow-card: 8px 8px 32px var(--desaturate-fuscha);
    --box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);

}

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--light);
    color: var(--text-color-primary);
    height: 100vh;
    transition: background-color .3s ease-in-out, color 0.3 ease-in-out;
}

ul{
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    transistion: color 0.3 ease-in-out;
}
.material-icons-sharp{
    vertical-align: middle;
}

.text-primary{
    color: var(--text-color-primary);
}

.text-secondary{
    color: var(--text-color-secondary);
}

.text-third{
    color: var(--text-color-third);
}

.dashboard-container {
    display: grey;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: sidebar main extrabar;
    grap: 4rem;
    height:100%;
}

.main-sidebar {
    grid-area: sidebar;
    background-color: rgb(7, 7, 7);
}

